body.po_is_blocking_plugins ul#adminmenu{
    display: none;
}
body.po_is_blocking_plugins ul#adminmenu .wp-menu-image img{
    max-width: 20px;
    max-height: 20px;
}

.sos-icon:before {
    font-family: "dashicons";
    content: "\f468";
    display: inline-block;
    line-height: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    margin-top: 6px;
    color: #fff;
}