#toplevel_page_plugin_optimizer ul li:nth-child(9),
#toplevel_page_plugin_optimizer ul li:nth-child(7),
#toplevel_page_plugin_optimizer ul li:nth-child(5),
#toplevel_page_plugin_optimizer ul li:nth-child(3){
    border-top: 1px dashed gray;
}
#adminmenu #toplevel_page_plugin_optimizer ul li{
    margin-left: 5px;
    margin-right: 10px;
    /* padding: 0 15px; */
}


#categories_table .cat_checkbox{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
#categories_table .cat_edit{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
#categories_table tr.block_info:not(:hover) .cat_edit a{
    display: none;
}
#categories_table .cat_title{
    text-align: left;
}
#categories_table th.cat_title{
    padding-left: 8px;
}
#categories_table .cat_description{
    text-align: left;
}
#categories_table .cat_filters{
    text-align: right;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}


.plugin-wrapper > .content > span.close{
    display: none;
}

.created-filters {
    /*margin-left: 5%;*/
    display: inline-block;
}

.created-groups {
    /*margin-left: 5%;*/
    display: inline-block;
}

.showed-filter {
    /*margin-right: 5%;*/
}

#main_title{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px 0 20px 30px;
}
#main_title h1{
    padding: 0;
    margin: 0;
    margin-right: 10px;
    line-height: 36px;
}
#main_title h2{
    padding: 0;
    margin: 0;
    line-height: 30px;
}

#result{
    display: none;
    margin-top: 5px;
    box-shadow: 0 3px 5px rgba(0,191,255,0.5);
    border-radius: 8px;
    width: auto;
    min-width: 250px;
    height: auto;
    padding: 10px;
    position: absolute;
    background: #fff;
    z-index: 9;
}
#result_search > *{
    font-size: 18px;
}



/*New design*/

.sos-wrap {
    overflow-y: auto !important;
}

.sos-wrap * {
    text-transform: uppercase;
}

.sos-wrap h1 {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "plugin opt" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.sos-wrap h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "worklist" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}


.sos-wrap .search {
    /* Style for "tab" */
    float: right;
    background-color: #a6a6a6;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
    margin-left: -40px;
}
.sos-wrap .search::placeholder {
    background-color: #a6a6a6;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
}

.sos-wrap .quantity {
    text-align: right;
}

.sos-wrap table {
    width: 100%;
    text-align: center;
}

/*.sos-wrap table *:not(span):not(a) {
    padding: 10px;
}*/

.sos-wrap thead th {
    color: #285483;
    font-size: 18px;
    font-weight: 300;
}

.sos-wrap thead th:not(:nth-child(1)) {
    min-width: 200px;
}

.sos-wrap tbody td:not(:nth-child(1)) {
    text-transform: none;
    min-width: 200px;
    width: auto;
}
.sos-wrap tbody td {
    padding: 10px;
}

.align-left{
    text-align: left;
}
.normal-text{
    text-transform: none;
}

.sos-wrap thead th.left-10 {
    padding-left: 10px;
}
.sos-wrap tbody td.data-trigger b{
    text-transform: none;
    font-weight: bold;
}
.sos-wrap .sos-content table .toggle_filter{
    min-width: 100px;
    width: 100px;
}

.sos-wrap button.po_green_button{
    padding: 5px 15px;
    text-transform: uppercase;
    box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.55), inset 0 0 0 2px rgba(255, 255, 255, 0.3);
    border: 1px solid #689530;
    background-color: #369451;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}
.sos-wrap button.po_green_button:hover{
    background-image: none;
}

.sos-wrap button.po_secondary_button{
    padding: 3px 15px;
    text-transform: uppercase;
    box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.55), inset 0 0 0 2px rgba(255, 255, 255, 0.3);
    border: 1px solid #3A5683;
    background-color: #5A76A3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}
.sos-wrap button.po_secondary_button:hover{
    background-image: none;
}

.sos-wrap button#save_filter{
    width: 50%;
    margin-left: 25%;
    height: 50px;
}
.sos-wrap button#save_group{
    width: 50%;
    margin-left: 25%;
    height: 50px;
}
.sos-wrap button#save_category{
    width: 50%;
    margin-left: 25%;
    height: 50px;
}

.sos-wrap .pluse {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* padding: 5px; */
    margin-top: 2px;
    text-align: center;
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    color: #8fba51;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 15px;
    font-size: 20px;
    font-weight: 600;
}

.sos-wrap .row {
    margin-bottom: 10px;
    padding: 5px;
}
.sos-wrap .global-information {
    /* margin-top: 10px; */
}

#wpcontent{
    margin-left: 140px;
}

.sos-wrap .sos-content{
    /* background-color: #fff !important; */
    /* width: 100%; */
    padding: 10px 20px;
}
.sos-wrap .sos-content > .row{
    width: 100%;
    max-width: 100%;
}



.quantity #all_elements,
.quantity #trash_elements{
    cursor: pointer;
}
.quantity #all_elements.filtered,
.quantity #trash_elements.filtered{
    font-weight: 700;
}

#the-list > .filtered_out__type,
#the-list > .filtered_out__date{
    display: none;
}
#the-list.filter_on__status_publish > :not([data-status="publish"]),
#the-list.filter_on__status_trash > :not([data-status="trash"]){
    display: none;
}


.sos-wrap .content-filter .header{
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    color: #fff;
    background-color: #535353;
    display: flex;
    justify-content: space-between;
}

.sos-wrap .content-filter *:not(.header *):not(button){
    /*padding: 5px;*/
    text-transform: none;
}

.sos-wrap .content-filter .content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sos-wrap .content-filter .content{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* Style for "Validated" */
    background-color: #ffffff;
    background-color: rgba(198, 185, 205, 0.1);
    text-align: left;
}

.sos-wrap .content-filter span.disabled{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.sos-wrap .content-filter span.count-plugin{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
}

.sos-wrap .content-filter .plugin-wrapper, .select-filter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.sos-wrap .content-filter .plugin-wrapper.no-plugins{
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* column-gap: 0; */
}
.sos-wrap .content-filter .plugin-wrapper.no-plugins *{
    /* text-align: center; */
}

.select-filter .block{
    background-color: #ffc4c4;
}
.sos-wrap .content-filter .plugin-wrapper .block{
    background-color: #ffc4c4;
    color: #212529;
}

.sos-wrap .block_info:not(:hover) .edit_item{
    display: none;
}

.sos-registration{
    width: 100%;
    height: auto;
}

.sos-registration form>*{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.sos-registration input{
    width: 100%;
}

.sos-registration p{
    text-align: left;
}

.sos-video-tutorial{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
}

.sos-wrap #premium_key{
    width: 100%;
}
.sos-wrap #settings_plugins{
    display: none;
}
.sos-wrap #settings_premium{
    display: none;
}
.sos-wrap #settings_debug{
    display: none;
}
.sos-wrap #show_settings_general{
    font-weight: 600;
}
.sos-wrap .active-plugin{
    font-weight: 600;
}
/*.sos-wrap form.created-groups group_name{
    display: block !important;
    margin-top: 35px !important;
    position: relative !important;
}*/

#result_search > *{
    font-size: 18px;
}


td.expandable:hover .no_hover,
td.expandable:not(:hover) .yes_hover{
    display: none;
}

td.expandable.list_of_plugins *{
    text-transform: none;
}


.sos-wrap.container{
    max-width: 100%;
    width: 100%;
}




#bulk_actions{
    display: flex;
}
#bulk_actions > div:not(:last-of-type){
    margin-right: 20px;
}
#bulk_actions > div{
    display: flex;
    align-items: center;
}
#bulk_actions > div > select{
    margin-right: 10px;
    min-height: 32px;
}



/*toggle*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #369451;
}

input:focus + .slider {
    box-shadow: 0 0 1px #369451;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

table.sos_table{
    border-collapse: separate;
    border-spacing: 0 5px;
}

.sos-wrap tbody tr {
    background: #C6B9CD;
    background: rgba(198, 185, 205, 0.1);
}
.sos-wrap tbody tr td {
}

.block_children{
    font-size: 14px;
    font-weight: 400;
}

.sos-wrap a{
    color: #444 !important;
}

.sos-wrap a:hover{
    color: #000 !important;
    text-decoration: none !important;
}

.sos-wrap a:visited, a:active, a:focus{
    outline: none;
    box-shadow: none;
}

.sos-wrap .content:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    transform: scale(1.03, 1.03);
    transition: box-shadow, transform 0.35s ease-in-out;
}


#settings_general label{
    display: block;
    user-select: none;
}



#create_elements{
    display: none;
    margin-top: 35px;
    box-shadow: 0 3px 5px rgba(0,191,255,0.5);
    border-radius: 8px;
    height: auto;
    padding: 10px;
    position: absolute;
    background: #fff;
    z-index: 9;
    width: 50%;
    left: 25%;
    top: 25%;
    text-align: center;
}

#create_elements.create_filter{
    top: 0;
}


form.created-cat * {
    /*width: 60%;*/
}

.select-filter{
    margin-bottom: 5px;
}
.select-filter span {
    padding: 10px;
    /*background-color: #ffffff;*/
    text-align: left;
    cursor: pointer;
    border: 1px solid rgba(99, 99, 99, 0.2);
    border-radius: 5px;
    margin: 2px;
}

.select-filter span:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    transform: scale(1.03, 1.03);
    transition: box-shadow, transform 0.35s ease-in-out;
}

select[name="block_plugins"], select[name="block_group_plugins"], select[name="post_type"], select[name="category_filter"], select[name="cat_parents"], select[name="group_parents"], select[name="group_plugins"]{
    display: none;
}

#main_tab_navigation{
    border-bottom: 1px solid lightgray;
    padding-bottom: 0;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 30px;
    display: flex;
}
#main_tab_navigation > div.tabs {
    position: relative;
    top: 1px;
    border: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    /* line-height: 28px; */
    text-align: center;
    margin-right: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 7px 20px 0;
    transition: all 300ms ease;
}
#main_tab_navigation > div.tabs:not(.current) {
    background-color: #f1f1f1;
    background-color: rgba(198, 185, 205, 0.1);
}
#main_tab_navigation > div.tabs:not(.current):hover {
    padding: 7px 20px 6px;
}
#main_tab_navigation > div.tabs.current {
    background: #fff;
    border-bottom: 1px solid #fff;
    padding: 7px 20px 6px;
}

.sos-wrap .notice{
    display: none;
}

.sos-wrap .save{
    width: 50%;
    margin-left: 25%;
    height: 50px;
}

.sos-wrap .content-new-element .content{
    cursor: pointer;
}

.sos-wrap .content-text{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    width: 100%;
}

.sos-wrap .content-text:focus{
    border-bottom: 1px solid #7e8993;
    box-shadow: none;
    outline: none;
}

.sos-wrap .content{
    cursor: pointer;
}

.sos-wrap .plugin-wrapper .deactivate-plugin{
    background: gray;
    color: #fff;
}



.sos-wrap .noeyes{
    display: none;
}

.sos-wrap .plugin-wrapper .single_plugin{
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    background-color: rgba(198, 185, 205, 0.1);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sos-wrap .plugin-wrapper .single_plugin.inactive{
    /* background: gray; */
    /* color: #fff; */
    background: #ddd;
    /* color: #fff; */
}
.sos-wrap .plugin-wrapper .single_plugin.blocked{
    background-color: #ffc4c4;
    color: #212529;
}
.sos-wrap .plugin-wrapper .single_plugin .group_name{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.sos-wrap .plugin-wrapper .single_group.blocked{
    background-color: #ffc4c4;
    color: #212529;
}

.sos-wrap .plugin-wrapper .single_category.blocked{
    background-color: #ffc4c4;
    color: #212529;
}
#edit_filter > .content-new-element{
    padding: 0;
    background: none;
}
#edit_filter #endpoints_wrapper{
    /* display: none; */
}

#edit_filter #endpoints_wrapper .additional_endpoint_wrapper{
    position: relative;
    /* padding-right: 50px; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0;
}
#first_endpoint,
input[type="text"].additional_endpoint{
    width: 100%;
    /* height: 150px; */
    border: none;
    outline: none;
    border-bottom: 1px solid #7e8993;
    border-radius: 0;
    padding: 5px;
    font-size: 16px;
    text-transform: none;
    display: block;
}
#first_endpoint:focus{
    outline: none;
    box-shadow: none;
}

.circle_button{
    cursor: pointer;
    transition: all 300ms ease;
    user-select: none;
    
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px 0 10px;
    text-align: center;
    padding: 0;
    
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    background-color: #369451;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    color: #8fba51;
    color: #ffffff;
    
    border: 1px solid #fff;
    border-radius: 50%;
    
    line-height: 18px;
    font-size: 24px;
    font-weight: 600;
    
}
.circle_button.remove_something{
    background-color: #ffc4c4;
}
.circle_button:hover{
    opacity: 0.6;
}

#add_category.before_add .during_add{
    display: none;
}
#add_category:not(.before_add) .before_add{
    display: none;
}


.all-check{
    cursor: pointer;
}

.content textarea{
    width: 100%;
}

.content-description{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px;
}

.hidden_content{
    display: none;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0; */
}

.content:hover .hidden_content{
    display: block;
}



.tab{
    background-color: #f1f1f1;
    padding: 25px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.info-content{
    display: flex;
    align-items: center;
}

.info-passage.done:before{
    content: '\2713';
    /*content: '✔';*/
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #489948;
    border-radius: 50%;
    margin-right: 10px;
}

.info-passage:before{
    content: '\2715';
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #5f5e5e;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.trigger_closed:before{
    content: '▼';
    color: #72777c;
    font-size: 15px;
}

.trigger_opened:before{
    content: '▲';
    color: #72777c;
    font-size: 15px;
}

.hidden-info_overview{
    padding: 5px;
    margin-top: -10px !important;
}

.hidden-info_overview.opened{
    display: block;
}
.hidden-info_overview.closed{
    display: none;
}

.hidden-info_overview > .container{
    background-color: #f1f1f1;
    padding: 35px;
}


#set_type{
    width: 100%;
}

#content_type{
    display: none;
}

.change_content{
    cursor: pointer;
}

.data-interaction{
    border: none !important;
    outline: none !important;
    text-align: center;
    width: 90%;
}
.data-interaction:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.data-link{
    text-transform: lowercase;
}

.sos-wrap .content-filter .header.attribute-plugin{
    justify-content: center;
    background-color: #369451;
    background-color: #888;
}

.groups-names{
    font-size: 12px;
    float: right;
    margin-right: 10px;
    font-weight: 800;
}

.groups-names > *{
    display: block;
}

/*
.content-plugins .content{
    position: relative;
}*/

.change_content:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 150px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.content-type{
    display: none;
}

input{
    text-transform: none !important;
}

input::placeholder{
    text-transform: uppercase !important;
}

.enter-data{
    padding: 0 !important;
}

.enter-data > span > *{
    padding: 5px !important;
    height: 43px;
}
