.created-filters {
    /*margin-left: 5%;*/
    display: inline-block;
}

.created-groups {
    /*margin-left: 5%;*/
    display: inline-block;
}

.showed-filter {
    /*margin-right: 5%;*/
}

.wrapper-filter {
    padding: 2%;
}


/*searck*/
#search_pages{
    border: none;
    outline: none;
    border-radius: 8px;
    width: 200px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,191,255,0.5);
    color: #0073aa;
    font-size: 14px;
}

#result{
    display: none;
    margin-top: 20px;
    box-shadow: 0 3px 5px rgba(0,191,255,0.5);
    border-radius: 8px;
    width: 300px;
    height: auto;
    padding: 10px;
    position: absolute;
    background: #fff;
    z-index: 9;
}
#result_search > *{
    font-size: 18px;
}

.popup-close {
    font-size: 35px;
    position: absolute;
    top: -40px;
    right: 20px;
    color: rgb(0,191,255);
    cursor: pointer;
}

.popup-close:hover {
    color: #0073aa;
}

.sos-icon:before {
    font-family: "dashicons";
    content: "\f468";
    display: inline-block;
    line-height: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    margin-top: 6px;
    color: #fff;
}



/*New design*/

.sos-wrap * {
    text-transform: uppercase;
}

.sos-wrap h1 {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "plugin opt" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.sos-wrap h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "worklist" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}


.sos-wrap .tabs {
    background-color: #1e4d7d;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);

    /* Style for "filters" */
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    margin-right: 1%;
}

.sos-wrap .search {
    /* Style for "tab" */
    float: right;
    background-color: #a6a6a6;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
    margin-right: -45px;
}
.sos-wrap .search::placeholder {
    background-color: #a6a6a6;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
}

.sos-wrap .quantity {
    text-align: right;
}

.sos-wrap table {
    width: 100%;
    text-align: center;
}

/*.sos-wrap table *:not(span):not(a) {
    padding: 10px;
}*/

.sos-wrap thead th {
    color: #285483;
    font-size: 18px;
    font-weight: 300;
}

.sos-wrap tbody tr {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.sos-wrap thead th:not(:nth-child(1)) {
    min-width: 200px;
}

.sos-wrap tbody {
    background-color: #f1f1f1;
}

.sos-wrap tbody td:not(:nth-child(1)) {
    text-transform: none;
    min-width: 200px;
    width: auto;
}
.sos-wrap tbody td {
    padding: 10px;
}

.sos-wrap button.add-filter {
    padding: 5px;
    text-transform: uppercase;
    box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.55), inset 0 0 0 2px rgba(255, 255, 255, 0.3);
    border: 1px solid #689530;
    background-color: #369451;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    color: white;
    cursor: pointer;
}

.sos-wrap .pluse {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* padding: 5px; */
    margin-top: 2px;
    text-align: center;
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    color: #8fba51;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 15px;
    font-size: 20px;
    font-weight: 600;
}

.sos-wrap .row {
    margin-bottom: 10px;
    padding: 5px;
}
.sos-wrap .global-information {
    margin-top: 10px;
}

#wpcontent{
    background-color: #f1f1f1;
}
.sos-wrap .sos-content{
    margin: 0;
    background-color: #fff !important;
}

.wrap-tabs{
    margin-bottom: 0 !important;
}
.wrap-tabs > *{
    margin-bottom: 0 !important;
    /*padding: 0!important;*/
}

.quantity #all_elements{
    font-weight: 700;
}
.quantity *{
    cursor: pointer;
}

.sos-wrap .content-permalinks{
    display: flex;
}

.sos-wrap .content-permalinks *{
    align-items: center;
    justify-content: center;
    padding: 0;
}
.sos-wrap .content-filter .header{
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    color: #fff;
    background-color: #535353;
    display: flex;
    justify-content: space-between;
}

.sos-wrap .content-filter *:not(.header *):not(button){
    /*padding: 5px;*/
    text-transform: none;
}

.sos-wrap .content-filter .content-permalinks .link{
    padding: 10px;
    margin-right: 2%;
    /* Style for "Validated" */
    background-color: #ffffff;
    text-align: left;
}
.sos-wrap .content-filter .content-permalinks{
    margin-top: 10px;
}
.sos-wrap .content-filter .content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sos-wrap .content-filter .content{
    padding: 10px;
    /* Style for "Validated" */
    background-color: #ffffff;
    text-align: left;
}
.sos-wrap .content-filter .content-permalinks .link:before{
    content: url(../img/check_mark.png);
    display: inline-block;
    /* Style for "V" */
    width: 17px;
    height: 14px;
}

.sos-wrap .content-filter span.disabled{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.sos-wrap .content-filter span.count-plugin{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
}

.sos-wrap .content-filter .plugin-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.sos-wrap .content-filter .plugin-wrapper.no-plugins{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
}
.sos-wrap .content-filter .plugin-wrapper.no-plugins *{
    text-align: center;
}

.sos-wrap .content-filter .plugin-wrapper .block{
    background-color: #ffc4c4;
}
.sos-wrap .hidden_info{
    display: none;
}
.sos-wrap .block_info{
    cursor: pointer;
}

.sos-registration{
    width: 100%;
    height: 500px;
    border: 1px solid #000;
}

.sos-video-tutorial{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
}

