.created-filters {
    /*margin-left: 5%;*/
    display: inline-block;
}

.created-groups {
    /*margin-left: 5%;*/
    display: inline-block;
}

.showed-filter {
    /*margin-right: 5%;*/
}

.wrapper-filter {
    padding: 2%;
}


/*searck*/
#search_pages{
    border: none;
    outline: none;
    border-radius: 8px;
    width: 200px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,191,255,0.5);
    color: #0073aa;
    font-size: 14px;
}

#result{
    display: none;
    margin-top: 20px;
    box-shadow: 0 3px 5px rgba(0,191,255,0.5);
    border-radius: 8px;
    width: 300px;
    height: auto;
    padding: 10px;
    position: absolute;
    background: #fff;
    z-index: 9;
}
#result_search > *{
    font-size: 18px;
}

.popup-close {
    font-size: 35px;
    position: absolute;
    top: -40px;
    right: 20px;
    color: rgb(0,191,255);
    cursor: pointer;
}

.popup-close:hover {
    color: #0073aa;
}

.sos-icon:before {
    font-family: "dashicons";
    content: "\f468";
    display: inline-block;
    line-height: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    margin-top: 6px;
    color: #fff;
}



/*New design*/

.sos-wrap * {
    text-transform: uppercase;
}

.sos-wrap h1 {
    color: #000000;
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "plugin opt" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.sos-wrap h2 {
    color: #000000;
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "worklist" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}


.sos-wrap .tabs {
    background-color: #1e4d7d;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);

    /* Style for "filters" */
    color: #ffffff;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    margin-right: 1%;
}

.sos-wrap .search {
    /* Style for "tab" */
    float: right;
    background-color: #a6a6a6;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
    margin-right: -45px;
}
.sos-wrap .search::placeholder {
    background-color: #a6a6a6;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
}

.sos-wrap .quantity {
    text-align: right;
}

.sos-wrap table {
    width: 100%;
    text-align: center;
}

.sos-wrap table *:not(span):not(a) {
    padding: 10px;
}

.sos-wrap thead th {
    color: #285483;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
}

.sos-wrap tbody tr {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.sos-wrap thead th:not(:nth-child(1)) {
    min-width: 200px;
}

.sos-wrap tbody {
    background-color: #f1f1f1;
}

.sos-wrap tbody td:not(:nth-child(1)) {
    text-transform: none;
    min-width: 200px;
    width: auto;
}

.sos-wrap button.add-filter {
    padding: 5px;
    text-transform: uppercase;
    box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.55), inset 0 0 0 2px rgba(255, 255, 255, 0.3);
    border: 1px solid #689530;
    background-color: #369451;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    color: white;
    cursor: pointer;
}

.sos-wrap .pluse {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* padding: 5px; */
    margin-top: 2px;
    text-align: center;
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    color: #8fba51;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 15px;
    font-size: 20px;
    font-weight: 600;
}

.sos-wrap .row {
    margin-bottom: 10px;
}
.sos-wrap .global-information {
    margin-top: 10px;
}

#wpcontent{
    background-color: #f1f1f1;
}
.sos-wrap .sos-content{
    margin: 0;
    background-color: #fff !important;
}

.wrap-tabs{
    margin-bottom: 0 !important;
}
.wrap-tabs > *{
    margin-bottom: 0 !important;
    /*padding: 0!important;*/
}

.quantity #all_elements{
    font-weight: 700;
}
.quantity *{
    cursor: pointer;
}